BOT_TOKEN=""
DATABASE_URL=""
LAVALINK_URL="127.0.0.1:2333"
LAVALINK_PORT="2333"
LAVALINK_SERVER_PASSWORD=""
CUSTOMBOT_DB_PASSWORD=""
POSTGRES_USER="postgres"
POSTGRES_PASSWORD=""
POSTGRES_DATABASE="skyndalex"
CLIENT_ID=""
CLIENT_SECRET=""
OAUTH_URL=""
SESSION_SECRET=""
API_PORT="3000"
FRONTEND_URL="http://localhost:5173"
